{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="old_password">Enter Old Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="old_password"
                    name="old_password"
                    placeholder="Enter old password"
            />
            <br>
            <label for="new_password">Enter New Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="new_password"
                    name="new_password"
                    placeholder="Enter new password"
            />
            <button type="submit" value="Change" class="btn btn-primary">Change</button>
        </div>
    </form>
</div>
<br>
<div class="container">
    {% for post in posts %}
    <div class="card">
        <h5 class="card-header">{{ post[user_id] }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ post['subject'] }}</h5>
            <p class="card-text">{{ post['message'] }}</p>
            <p><img src={{ post['img_link'] }} style="width:120px; height:120px"></p>
            <p class="card-test">{{ post['datetime'] }}</p>
            <form method="POST" action="/editpost">

                <input name="subject" type="hidden" value='{{ post['subject'] }}'>
                <input name="message" type="hidden" value='{{ post['message'] }}'>
                <input name="img_link" type="hidden" value='{{ post['img_link'] }}'>
                <input name="datetime" type="hidden" value='{{ post['datetime'] }}'>

                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}